@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fira Sans", serif;
    background: #F1F1F3;

}

.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.button-primary{
    padding: 17px 34px;
    border-radius: 8px;
background: #006A50;
color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: inline-block;
transition: 0.5s;
outline: 0;

}

.button-primary:hover{
    background: #01523d;
    cursor: pointer;
}


.section-heading-text{
    color: #0E0E0E;
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-primary{
    color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px 0;
}
.logo{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}
.sign-in{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    display: inline-block;
    transition: 0.3s; 

}

.sign-in:hover{
    background: #006A50;
    color: #FFF;
}


.banner{
    display: flex;
width: 1280px;
padding: 80px 100px;
justify-content: center;
align-items: center;
gap: 64px;
border-radius: 24px;
background: #C6E4D6;
margin-top: 20px;
}
.banner-left-section p{
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner-left-section h1{
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 24px;
}
.pillars-of-bangladesh{
    margin: 80px 0 0 0;
}

.pillars-container{
    margin-top: 32px;
    display: flex;
    gap: 24px;

}
.pillars-card{
    display: flex;
width: 302px;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
transition: 0.5s;
}
.pillars-card:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.479);
    cursor: pointer;
}

.pillars-title{
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.vision-of-future-section{
    margin-top: 80px;
    display: flex;
width: 1280px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}

.heading-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vision-card-container{
    display: flex;
align-items: center;
gap: 24px;
align-self: stretch;
}

.vision-card-1{
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #5490F5;
background: rgba(84, 144, 245, 0.20);
}
.vision-card-1 div h4{
    color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 12px;
}
.vision-card-1 a{
    padding: 11px 20px;
    display: inline-block;
    border-radius: 8px;
background: #5490F5;
color: #FFF;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: 0.5s;
}

.vision-card-1 a:hover{
    background: #3779eb;
}


.vision-card-2{
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #09A15C;
background: #C6E4D6;
}
.vision-card-2 div h4{
    color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 12px;
}
.vision-card-2 a{
    padding: 11px 20px;
    display: inline-block;
    border-radius: 8px;
background: #09A15C;
color: #FFF;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: 0.5s;
}

.vision-card-2 a:hover{
    background: #076339;
}

.vision-card-3{
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #FFC239;
background: #F7EBCF;
}
.vision-card-3 div h4{
    color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 12px;
}
.vision-card-3 a{
    padding: 11px 20px;
    display: inline-block;
    border-radius: 8px;
    background: #FFC239;
color: #FFF;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: 0.5s;
}

.vision-card-3 a:hover{
    background: #9b7111;
}

.speech-section{
    display: flex;
padding: 48px 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
}

.speech-container{
    position: relative;
}

.speech-container img{
    position: absolute;
    top: -23px;
}

.speech-owner-container h4{
    color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
}

.speech-owner-container p{
    color: rgba(14, 14, 14, 0.60);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.news-section{
    margin-top: 80px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}

.news-container{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.news-card{
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
background: #FFF; 
}

.news-image-container img{
    border-radius: 24px;

}

.news-details-container{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
}

.news-details{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}

.news-details h4{
    color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.date-time-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.date-time-container p{
    color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.news-card-1{
    display: flex;
    flex-direction: row-reverse;
    padding: 48px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
background: #FFF; 
}

.donate-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.section-heading-2{
    display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
text-align: center;
}
.donate-container{
    display: flex;
align-items: center;
gap: 24px;
justify-content: space-around;
}

.donate-container button{
    display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 0.5s;
}

.donate-container button:hover{
    background: #C6E4D6;
}
.other-amount{
    display: flex;
    justify-content: center;
}

.other-amount input{
width: 1032px;
padding: 20px 40px;
border: 0;
outline: 0;
text-align: center;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
color: rgba(14, 14, 14, 0.30);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.payment-done{
    display: flex;
    justify-content: center;
}
.subscribe-section{
    margin-top: 80px;
    display: flex;
padding: 80px 100px;
flex-direction: column;
align-items: center;
gap: 64px;
border-radius: 24px;
background: #C6E4D6;
}

.subscribe-container{
    display: flex;
    align-items: center;
}

.subscribe-container input{
width: 600px;
padding: 18px 40px;
border-radius: 8px 0px 0px 8px;
background: #FFF;
outline: 0;
color: rgba(14, 14, 14, 0.30);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 0;
}

.subscribe-container button{
padding: 17px 34px;
background: #006A50;
border-radius: 0px 8px 8px 0px;
border: 0;
outline: 0;
color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: 0.8s;
}

.subscribe-container button:hover{
    background: #01523d;
    transform: translateX(-5px);
    cursor: pointer;
}

footer{
    display: flex;
padding: 50px 160px;
flex-direction: column;
align-items: center;
gap: 32px;
align-self: stretch;
background: #FFF;
margin-top: 80px;
}
.footer-title{
    color: #0E0E0E;
font-family: "Fira Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.devider{
    width: 1122px;
height: 1px;
background: rgba(14, 14, 14, 0.10);
}

.social-media-links{
    display: flex;
    align-items: center;
    gap: 23px;
    transition: 0.5s;
}


.social-media-links a:hover{
    transform: scale(1.1);
}